
    <!-- TODO - rellenar la información a la derecha -->
    TODO - rellenar la información a la derecha- mirar edevitalzh
  <div class="form-group">

    <%= f.label :f1, 'Calificación del Test KATZ (*)' %><br>
    <%= f.select :f1, TestKatz::OPTIONS %>
  </div>

