/*File used to define the style of every site once you have signed in.
It is used in:
welcome.html
search.html
new_consultation.html
consultation.html

history.html
full_history.html
history_kinds.html
(every_kind_of_history).html
(every_kind_of_consultation).html

*/


.navbar-static-top {
  margin-bottom: 0px;
}
.space{
  padding: 40px 15px;
  margin-bottom: 15px;
}
.space{
	.text-align: left;
}

.left{
margin-left: 120px;


}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.icon-wrapper{
  margin-left: 50px;

}

.hr_consult{

  border-color: #BDBDBD -moz-use-text-color #FFFFFF;
}

.smaller{
  font-size: 80%;
}