<div class="jumbotron">
  <div class="container">

    <div class="col-md-3 ">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-book"></span>
        <p>
      </div>
      <a href="history_kinds.html"><button type="button" class="btn btn-default">Realizar Test FAQ - TODO </button></a>
    </div>

    <div class="col-md-3">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-eye-open"></span>
        <p></p>
      </div>
      <%= link_to 'Realizar  Test Barthel', new_consultation_test_barthel_path(@consultation), class: 'btn btn-default'  %>
    </div>

    <div class="col-md-3">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-book"></span>
        <p> </p>
      </div>
      <a href="full_history.html"><button type="button" class="btn btn-default">Realizar Test Fast</button></a>
    </div>

    <div class="col-md-3">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-book"></span>
        <p>
      </div>
      <a href="history_kinds.html"><button type="button" class="btn btn-default">Realizar Test Katz  </button></a>
    </div>

    <div class="col-md-3">
      <div class="icon-wrapper">
        <span class="glyphicon glyphicon-book"></span>
        <p>
      </div>
      <a href="history_kinds.html"><button type="button" class="btn btn-default">Realizar Test Lawton-Brody</button></a>
    </div>

  </div> <!--/container-->
</div> <!--/Jumbotro n-->