<!--URL patients/1/consultations/needed_tests-->

<% breadcrumb :consultation_additional_tests, @consultation %>

<% content_for :top_title do %>
   Tests adicionales  consulta <span class="text-muted"><%= @consultation.date %></span>
<% end %>
<% content_for :title do %>
    Realizar Tests
<% end %>



<%= render 'test_choice' %>

<!-- RESUMEN DE TESTS REALIZADOS EN ESTA CONSULTA-->
<%= render partial: 'shared/tests_history',
					 locals: { tests:  @consultation.tests.order(created_at: :desc) } %>



