<% breadcrumb :consultation_computer_diagnoses, @consultation %>

<% content_for :top_title do %>
    Diagnóstico <span class="text-muted"><%= @consultation.date %></span>
<% end %>
<% content_for :title do %>
    Nuevo diagnóstico
<% end %>

<%= render 'form' %>
