<!--URL patients/1/historia-completa -->
<% breadcrumb :patient_full_history, @patient %>
<% content_for :top_title do %>
    Historia de paciente <span class="text-muted"><%= @patient.name %></span>
<% end %>
<% content_for :title do %>
    Historia completa
<% end %>

<%= render partial: 'shared/consultations_history',
					 locals: { consultations: @patient.consultations } %>

<%= render partial: 'shared/tests_history', locals: { tests: @patient.tests.order(created_at: :desc) } %>







