  <div class="jumbotron jumbotron-blank">
    <div class="container container-centered">
      <div class="row">
            <div class="col-md-6">
                <%= link_to '', new_patient_consultation_path, class: 'fa fa-user-md fa-4x'%>
                <h3><%= link_to 'Nueva consulta', new_patient_consultation_path %></h3>
            </div>

            <div class="col-md-6">
              <%= link_to '', patient_full_history_path, class: 'fa fa-clipboard fa-4x'%>
              <h3><%= link_to 'Informe historia completa', patient_full_history_path %></h3>
            </div>
    </div>
  </div>
        </div>
