<!--Jumbotron containing a link to every kind of consult -->
<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <%= link_to 'Sintomatología Cognitiva', new_consultation_cognitive_symptomatology_path(@consultation), class: 'btn btn-default' %>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_non_syntomatic.html"> <button type="button" class="btn btn-default">Sintomatología no Cognitiva</button></a>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_functional.html"><button type="button" class="btn btn-default">Exploración Funcional</button></a>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_neurological.html"><button type="button" class="btn btn-default">Exploración Neurológica</button></a>
      </div>
    </div>


    <div class="row">

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_physical.html"><button type="button" class="btn btn-default">Exploración Física y Cardiaca</button></a>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_habits.html"><button type="button" class="btn btn-default">Hábitos</button></a>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_patologies.html"> <button type="button" class="btn btn-default">Patologías Intercurrentes</button></a>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_complementary.html"><button type="button" class="btn btn-default">Pruebas complementarias</button></a>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3 col-md-offset-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="consultation_farmacology.html"><button type="button" class="btn btn-default">Prescripción farmacológica</button></a>
      </div>

      <div class="col-md-3">
        <div class="icon-wrapper">
          <span class="glyphicon glyphicon-book"></span>
          <p></p>
        </div>
        <a href="diagnostic.html"><button type="button" class="btn btn-default">Diagnóstico</button></a>
      </div>

    </div>

  </div> <!--/container-->
</div> <!--/Jumbotron-->