
<% breadcrumb :patient, @patient%>

<% content_for :title do %>
  Nueva consulta
<% end %>

<% content_for :top_title do %>
   Nueva consulta
<% end %>

<% content_for :top_right do %>
    <h2 class="text-muted"> <%= @patient.full_name %></h2>
    <h4>Número historia clínica: <span class="text-muted"> <%= @patient.id %> </span> </h4>
<% end %>

<%= render 'form' %>


