<!-- URL patients/1/consultations/1 -->

<% breadcrumb :patient_consultation, @patient, @consultation %>

<% content_for :title do %>
    Protocolo clínico
<% end %>

<% content_for :top_title do %>
    Protocolo clínico de consulta <span class="text-muted"> <%= @consultation.id %>   </span>
<% end %>



<%= render 'consultations/select'   %>

<!-- RESUMEN DE SINTOMATOLOGÍAS EXPLORADAS EN ESTA CONSULTA  -->

<%= render partial: 'shared/examinations_history', locals: { consultation: @consultation ,
                                                      page: params[:page],
                                                      examinations: @consultation.examinations.page(params[:page]).order(created_at: :desc)} %>

<!-- RESUMEN DE TESTS REALIZADOS EN ESTA CONSULTA   -->

<%= render partial: 'shared/tests_history_typed', locals: { consultation: @consultation ,
                                                      page: params[:page],
                                                      tests: @consultation.tests.page(params[:page]).order(created_at: :desc)} %>




