<!-- URL patients/1/consultations/1 -->

<% breadcrumb :patient_consultation, @patient, @consultation %>

<% content_for :title do %>
    Protocolo clínico
<% end %>

<% content_for :top_title do %>
    Protocolo clínico de consulta <span class="text-muted"> <%= @consultation.date %>   </span>
<% end %>

<%= render 'consultations/select'   %>

<!-- RESUMEN DE TESTS REALIZADOS EN ESTA CONSULTA   -->

<%= render partial: 'shared/tests_history',
					 locals: { tests: @patient.tests.order(created_at: :desc) } %>


<!-- TODO: ¿Poner otro tal que: observaciones-consultas -->
<!-- TODO: Poner otro tal que: Resumen diagnósticos establecidos, o algo así, y quitar el anterior -->

