<!-- URL patients/1/consultations/1 -->

<% breadcrumb :patient_consultation, @patient, @consultation %>

<% content_for :title do %>
    Protocolo clínico
<% end %>

<% content_for :top_title do %>
    Protocolo clínico de consulta <span class="text-muted"> <%= @consultation.date %>   </span>
<% end %>

<%= render 'consultations/select'   %>

<!-- RESUMEN DE TESTS REALIZADOS EN ESTA CONSULTA   -->

<!-- TODO: Poner otro tal que: observaciones-consultas -->

<div class="container"> <!--To keep the back link well aligned-->

  <%= render partial: 'shared/tests_history',
					 locals: { tests: @patient.tests.order(created_at: :desc) } %>
  <div class="row">
    <div class="col-md-1">
      <%link_type = "back" %>
      <%= render partial: 'shared/links',
                 locals: { link_type: link_type } %>
    </div>
  </div>
</div>