
    <!--TODO: Poner el html directamente aquí, con las col-md y demás -->
      <label>Resultado Test FAQ (*)</label>
      <label>9000</label>

      <a href="view_of_FAQ.htmkl">Realizar test</a>
    </div>

  <div class="form-group">
    <label>Resultado Test MMSE(*)</label>
    <label>9000</label>
    <a href="view_of_FAQ.html">Realizar test</a>
  </div>

    <div class="form-group">
      <a href="view_of_mmse.html">Solicitar diagnóstico computacional</a>
    </div>


    <div class="form-group">
        <div class="actions">
            <%= f.submit %>
        </div>
    </div>
