<% breadcrumb :correct_consultation_computer_diagnosis, @consultation, @computer_diagnosis%>

<% content_for :title do %>
	TODO - Resultado diagnóstico computacional
<% end %>

<% content_for :top_title do %>
	TODO - Resultado diagnóstico computacional
<% end %>


<div class="jumbotron jumbotron-blank">
  <div class="container container-centered">
    <%= render 'shared/result_diagnosis'%>
    <%= render partial: 'shared/correct_diagnosis',
							 locals: {url: @url}
		%>
	</div>
</div>