<% breadcrumb :consultation_computer_diagnoses, @consultation %>


<% content_for :top_title do %>
    Solicitar diagnóstico  consulta <span class="text-muted"><%= @consultation.date %></span>
<% end %>
<% content_for :title do %>
    Nuevo diagnóstico
<% end %>

<div class="jumbotron jumbotron-blank">

  <div class="container container-centered">

    <div class="row"><!--Test FAQ-->

      <div class="col-md-6">
        <a class="fa fa-pencil-square-o fa-3x"></a>
        <h4>Puntuación FAQ</h4>
      </div>

      <div class="col-md-6">
        <h3 class="text-muted no_blue_link"><%= @faq_score || (link_to 'click para realizar test   ',
																																				 new_consultation_test_faq_path(@consultation),  class:"alert alert-danger" ) %></h3>
      </div>

    </div> <!--/row -->

    <div class="row"> <!--Test MMSE-->

      <div class="col-md-6">
        <a class="fa fa-pencil-square-o fa-3x"></a>
        <h4>Puntuación MMSE</h4>
      </div>

      <div class="col-md-6">
        <h3 class="text-muted  no_blue_link"><%=  @mmse_score || (link_to 'click para realizar test', new_consultation_test_minimental_path(@consultation), class:"alert alert-danger") %>
        </h3>
      </div>

    </div><!--/row -->

    <div class="row"> <!--Edad-->

      <div class="col-md-6">
        <a class="fa fa-calendar-o fa-3x"></a>
        <h4>Edad</h4>
      </div>

      <div class="col-md-6">
        <h3 class="text-muted">85 años</h3> <!--TODO: Poner aquí la variable de la edad del paciente-->
      </div>

    </div><!--/row -->

    <div class="row"> <!--Edad-->

      <div class="col-md-6">
        <a class="fa fa-font fa-3x"></a>
        <h4>Alfabetización</h4>
      </div>

      <div class="col-md-6">
        <h3 class="text-muted">Estudios universitarios</h3>
      </div>

    </div><!--/row -->

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="show_diagnostic_result.html" class="fa fa-gears fa-3x"></a>
        <h4><a href="show_diagnostic_result.html">Solicitar diagnóstico computacional</a></h4>
				<%= link_to 'Solicitar diagnóstico DAVID', consultation_computer_diagnoses_path, method: :post %>
      </div>
    </div>
  </div> <!--/container-->
</div> <!--/Jumbotron-->

