<% breadcrumb :correct_quick_diagnosis %>

<% content_for :title do %>
    Diagn칩stico r치pido
<% end %>

<% content_for :top_title do %>
    Diagn칩stico r치pido - Resultado
<% end %>


<div class="jumbotron jumbotron-blank">
  <div class="container container-centered">
    <%= render 'shared/result_diagnosis'%>
    <%= render partial: 'shared/correct_diagnosis',
							 locals: {url: @url}
		%>
	</div>
</div>