<% breadcrumb :quick_diagnosis_correct %>

<% content_for :title do %>
    Diagn칩stico r치pido
<% end %>

<% content_for :top_title do %>
    Diagn칩stico r치pido - Resultado
<% end %>


<div class="jumbotron jumbotron-blank">
  <div class="container container-centered">
    <% quick_diagnosis_view = true %>
        <%= render partial: 'shared/result_diagnosis',
                   locals: { quick_diagnosis_view: quick_diagnosis_view }
        %>
     </div>
</div>