


<div class="container">
  <h2 class="text-center">¿Problemas para acceder?</h2>
  <h3 class="text-center">Contáctenos en la siguiente dirección o teléfono  y le atenderemos rápidamente</h3>
  <hr>



      <a href="mailto: soporte@binnac.com"><h3 class="text-center text-primary"> soporte@binnac.com</h3></a>
      <h3 class="text-center  text-muted"></h3>
      <h3 class="text-center  text-muted"></h3> <!--TODO: Poner aquí una imagen con los teléfonos -->

  <%= render "physicians/shared/links"  %>
</div>
