<!--Jumbotron containing a table -->
<div class="jumbotron jumbotron-blank text-left">
  <h3 class="text-left">
    Observaciones de la consulta
  </h3>
  <blockquote class="text-center">
     <i class="h4">
       <% if observations == "" %>
                   (sin observaciones)
       <% else %>
           <%= observations %>
     <% end %>
       </i>
  </blockquote>

</div>