<!--Page header and breadcrumb -->
<div class="page-header">
  <div class="row">

    <div class="col-md-8">
      <%= yield :top_left %>
      <%= breadcrumbs style: :bootstrap %>
      <h1 class="featurette-heading">
        <%= yield :top_title %>
      </h1>
    </div>

    <div class="col-md-4">
      <%= yield :top_right %>
    </div>

  </div> <!--/row-->

</div> <!-- /Page-header-->