<% message_kind = @computer_diagnosis.sane? ?  "alert-success" : "alert-danger" %>
<div class= "alert <%= message_kind %> alert-dismissable lead text-center" >
  <h3><%="#{@computer_diagnosis.diagnosis_text} - #{@computer_diagnosis.probability} %"%></h3>
</div>

