.container
  %h2.text-center
  %h3.text-center Contáctenos en la siguiente dirección o teléfono  y le atenderemos rápidamente
  %hr/
  %a{href: "mailto: soporte@e-pione.com"}
    %h3.text-center.text-primary soporte@e-pione.com
  =  link_to "", root_path, class:"icon-double-angle-left icon-2x"

