
<% breadcrumb :patient, @patient%>

<% content_for :title do %>
    Contactar
<% end %>

<% content_for :top_title do %>
    Contactar
<% end %>

<div class="row text-center">
  <i class="h4">Para ponerse en contacto con los administradores del sistema ante cualquier consulta, por favor
    rellene el siguiente formulario
  </i>
</div>
<br>
<br>
<%= render 'form' %>



