<% content_for :top_left do %>
    <ol class="breadcrumb">
      <li>breadcrumbs</li>
    </ol>
    <h1 class="featurette-heading"> Registrar nuevo paciente<span class="text-muted"></span></h1>
<% end %>

 <!--TODO: Título y breadcrumbs -->
<%= render 'form' %>

<%= link_to '<<Volver', patients_path %>
