<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Sintomatología Cognitiva - Babel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Babel</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="welcome.html">Inicio</a></li>
              <li><a href="search.html">Búsqueda de pacientes</a></li>
              <li><a href="#">Registrar nuevo paciente</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Borrar pacientes</a></li>
                  <li><a href="#">Modificar mi perfil</a></li>
                  <li><a href="#"></a></li>
                  <li class="divider"></li>
                  <li><a href="#">Soporte técnico</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><button type="button" class="btn btn-default navbar-btn">Desconectarse</button></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>
          
   
      <div class="container">
        
          <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                      <ol class="breadcrumb">
                        <li><a href="welcome.html">Inicio</a></li>
                        <li><a href="search.html">Búsqueda de pacientes</a></li>
                        <li><a href="history.html">Juan Ofidio Ofidio</a></li>
                        <li><a href="consultation.html">Consulta</a></li>
                        <li class="active">Sintomatología Cognitiva</li>
                      </ol>
                      <h1 class="featurette-heading">Sintomatología Cognitiva <span class="text-muted"></span></h1>

                </div>
                <div class="col-md-4">
                    <h2 class="text-muted">Juan Ofidio Ofidio</h2>
                    <h4>Número historia clínica: <span class="text-muted">456</span> <h4>
                    <h4 >Fecha consulta: <span class="text-muted"> 23/09/2013</span><h4>                      
                </div>
            </div> 
          </div>
        <div class="jumbotron">
          <div class="container">

            <form class="form-horizontal" role="form">

              <div class="form-group">
                <div class="col-md-6">
                  <label>Alteración de memoria (*)</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>No explorado</option>
                    <option>Desconocido</option>
                    <option>Sí</option>
                    <option>No</option>
                    </select>
                </div>
              </div>

               <div class="form-group">
                <div class="col-md-6">
                  <label>Desorientación (*)</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>No explorado</option>
                    <option>Desconocido</option>
                    <option>Sí</option>
                    <option>No</option>
                    </select>
                </div>
              </div>

               <div class="form-group">
                <div class="col-md-6">
                  <label>Trastorno del lenguaje (Afasia) (*)</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>No explorado</option>
                    <option>Desconocido</option>
                    <option>Sí</option>
                    <option>No</option>
                    </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6">
                  <label>Trastorno motor (Apraxia) (*)</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>No explorado</option>
                    <option>Desconocido</option>
                    <option>Sí</option>
                    <option>No</option>
                    </select>
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-6">
                  <label>Trastorno sensitivo (*)</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>No explorado</option>
                    <option>Desconocido</option>
                    <option>Sí</option>
                    <option>No</option>
                    </select>
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-6">
                  <label>Alteración de las funciones ejecutivas (*)</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>No explorado</option>
                    <option>Desconocido</option>
                    <option>Sí</option>
                    <option>No</option>
                    </select>
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-6">
                  <label>Trastorno del razonamiento y la abstracción (*)</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>No explorado</option>
                    <option>Desconocido</option>
                    <option>Sí</option>
                    <option>No</option>
                    </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6">
                  <label>Alteración de las funciones visuoespaciales(*)</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>No explorado</option>
                    <option>Desconocido</option>
                    <option>Sí</option>
                    <option>No</option>
                    </select>
                </div>
              </div>


            <div class="form-group">
              <div class="col-md-offset-4 col-md-10">
                <a href="consultation.html"><button type="submit" class="btn btn-default">Almacenar Sintomatología Cognitiva</button></a>
              </div>
              </div>



            </form>
          </div>
      </div>

   <h1 class="featurette-heading">Realización de tests <span class="text-muted"></span></h1>
   <!--TODO: Mirar bien este layout, automáticamente se crean dos filas si nos pasamos con las columnas (i.e 4x3 +3x1) -->
   <div class="jumbotron">
          <div class="container">

            <div class="col-md-3">
              <div class="icon-wrapper">
                <span class="glyphicon glyphicon-eye-open"></span>      
                <p></p>
              </div>      
            <a href="test_informer.html"><button type="button" class="btn btn-default">Realizar Test Informador</button></a>
            </div>

            <div class="col-md-3">
            <div class="icon-wrapper">
              <span class="glyphicon glyphicon-book"></span>      
              <p> </p>
            </div>   
              <a href="full_history.html"><button type="button" class="btn btn-default">Realizar Test Minimental</button></a>
            </div>

            <div class="col-md-3">
              <div class="icon-wrapper">
                <span class="glyphicon glyphicon-book"></span>      
                <p>
              </div>  
              <a href="history_kinds.html"><button type="button" class="btn btn-default">Realizar Test MEC</button></a>
            </div>  

            <div class="col-md-3">
              <div class="icon-wrapper">
                <span class="glyphicon glyphicon-book"></span>      
                <p>
              </div>  
              <a href="history_kinds.html"><button type="button" class="btn btn-default">Realizar Test Pfeiffer</button></a>
            </div>  
            
            <div class="col-md-3">
              <div class="icon-wrapper">
                <span class="glyphicon glyphicon-book"></span>      
                <p>
              </div>  
              <a href="test_clock.html"><button type="button" class="btn btn-default">Realizar Test del Reloj</button></a>
            </div>  

        </div> <!--/container-->
      </div> <!--/Jumbotro n-->

    
    <!--Jumbotron containing a table -->
        <div class="jumbotron">

                <h4>Test Realizados</h4>
                <div class="table-responsive">
                  <table class="table table-striped table-hover">
                  <tr>
                  
                      <th>NHC</th>
                      <th>Consulta</th>
                      <th>Fecha</th>
                      <th>ID Test</th>
                      <th>Tipo Test</th>
                      <th>Score</th>
                      <th>Detalles</th>
                  </tr>
                  <tr>
                      <td>456</td> <!-- NHC-->
                      <td>31</td>   <!-- Consulta-->
                      <td>10/03/2013</td>    <!-- Fecha-->
                      <td>569</td> <!-- ID Test-->
                      <td>MEC</td> <!-- Tipo Test-->
                      <td>22</td> <!-- Score-->
                      <td><a href="">Ver más</a></td> <!-- Historia-->
                  </tr>

                     <tr>
                      <td>456</td> <!-- NHC-->
                      <td>29</td>   <!-- Consulta-->
                      <td>10/04/2013</td>    <!-- Fecha-->
                      <td>569</td> <!-- ID Test-->
                      <td>Test del Reloj</td> <!-- Tipo Test-->
                      <td>9</td> <!-- Score-->
                      <td><a href="">Ver más</a></td> <!-- Historia-->
                  </tr>
                
                  </table>
               </div> <!--/.responsive-table-->
               <div class="row">
                <div class="col-md-6">
                   <ul class="pagination pagination-sm">
                      <li><a href="#">&laquo;</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>

              </div>
              
                 <div class="col-md-4 pull-right">
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Filtrar consulta por.. <span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right">
                          <li><a href="#">Número</a></li>
                          <li><a href="#">Fecha</a></li>
                          <li><a href="#">Tipo</a></li>
                          <li><a href="#">Facultativo</a></li>
                        </ul>
                      </div><!-- /btn-group -->                      
                    </div><!-- /input-group -->
                  </div>
                  
                 
 
                </div><!-- /.row -->
    </div> <!--/jumbotron-->

    <a href="consultation.html"><< Volver</a>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
