<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Babel - Historia clínica</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Babel</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="welcome.html">Inicio</a></li>
              <li><a href="search.html">Búsqueda de pacientes</a></li>
              <li><a href="#">Registrar nuevo paciente</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Borrar pacientes</a></li>
                  <li><a href="#">Modificar mi perfil</a></li>
                  <li><a href="#"></a></li>
                  <li class="divider"></li>
                  <li><a href="#">Soporte técnico</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><button type="button" class="btn btn-default navbar-btn">Desconectarse</button></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>
          
       
      <div class="container"> <!--Container to keep everything inside the site centered-->
        
        <!--Page header and breadcrumb -->
          <div class="page-header"> 
            <div class="row">

                <div class="col-md-8">
                      <ol class="breadcrumb">
                        <li><a href="welcome.html">Inicio</a></li>
                        <li><a href="search.html">Búsqueda de pacientes</a></li>
                        <li><a href="history.html">Juan Ofidio Ofidio</li></a>
                        <li class="active">Nueva consulta</li>
                      </ol>
                      <h1 class="featurette-heading">Nueva consulta <span class="text-muted"></span></h1>
                </div>

                <div class="col-md-4">
                    <h2 class="text-muted">Juan Ofidio Ofidio</h2>
                    <h4>Número historia clínica: 456<h4>
                </div>

              </div> <!--/row-->

          </div> <!-- /Page-header-->
          

<!--TODO! Limpiar y revisar esto...tiene label class cuando debería tener div class...y usa lg en vez de md-->
<form class="form-horizontal" role="form">

  <div class="form-group">
    <label class="col-md-2 ">Nombre del paciente</label>
    <div class="col-lg-10">
      <label class="text-muted">Juan Ofidio Ofidio</label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 ">NHC</label>
    <div class="col-lg-10">
      <label class="text-muted">456</label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 ">Facultativo</label>
    <div class="col-lg-10">
      <label class="text-muted">Dr. Rafael García García</label>
    </div>
  </div>

  <div class="form-group">
    <div class="radio">
        <div class="col-lg-offset-2 col-lg-2">
        <input type="radio" name="atentionType" id="AE" value="specialized_atention" checked> Atención Especializada
        </div>
        <div class="col-lg-2">
          <input type="radio" name="atentionType" id="AP" value="primary_atention">Atención primaria
        </div>
         <div class="col-lg-2">
          <input type="radio" name="atentionType" id="OT" value="others">Otras atenciones sociosanitarios
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2">
      <label>Fecha</label>
    </div>  
    <div class="col-md-2">
        <input type="date" class="form-control" placeholder="29/10/2013">   <!--TODO: Crear un calendario aquí -->
    </div>
  </div>

  <div class="form-group">
      <div class="col-md-2">
        <label>Observaciones</label>
      </div>
      <div class="col-md-6">
        <textarea class="form-control" rows="3"></textarea>
    </div>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <a href="consultation.html"><button type="submit" class="btn btn-default">Crear nueva consulta</button></a>
    </div>
  </div>
</form>

 


    

    <a href="history.html"><< Volver</a>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
