<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Test del Informador - Babel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Babel</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="welcome.html">Inicio</a></li>
              <li><a href="search.html">Búsqueda de pacientes</a></li>
              <li><a href="#">Registrar nuevo paciente</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Borrar pacientes</a></li>
                  <li><a href="#">Modificar mi perfil</a></li>
                  <li><a href="#"></a></li>
                  <li class="divider"></li>
                  <li><a href="#">Soporte técnico</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><button type="button" class="btn btn-default navbar-btn">Desconectarse</button></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>
          
   
      <div class="container">

          <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                      <ol class="breadcrumb">
                        <li><a href="welcome.html">Inicio</a></li>
                        <li><a href="search.html">Búsqueda de pacientes</a></li>
                        <li><a href="history.html">Juan Ofidio Ofidio</a></li>
                        <li><a href="consultation.html">Consulta</a></li>
                        <li><a href="consultation_syntomatic.html">Sintomatología Cognitiva</a></li>
                        <li>Test del Informador</li>
                      </ol>
                      <h1 class="featurette-heading">Test del Informador<span class="text-muted"></span></h1>

                </div>
                <div class="col-md-4">
                    <h2 class="text-muted">Juan Ofidio Ofidio</h2>
                    <h4>Número historia clínica: <span class="text-muted">456</span> <h4>
                    <h4 >Fecha consulta: <span class="text-muted"> 23/09/2013</span><h4>                                   
                </div>
            </div> 
          </div>

        <div class="row">
          <div class="col-md-4"> 

            <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Criterios</th>
                  <th>Descripción</th>  
                </tr>
                <tr>
                  <td>Valor '1'</td>
                  <td>Ha mejorado mucho</td>  
                 </tr>
                <tr>
                    <td>Valor '2'</td>
                    <td>Ha mejorado levemente</td>  
                </tr>
                <tr>
                    <td>Valor '3'</td>
                    <td>Prácticamente sin cambios</td>  
                </tr>
                <tr>
                    <td>Valor '4'</td>
                    <td>Ha empeorado levemente</td>  
                </tr>

                <tr>
                    <td>Valor '5'</td>
                    <td>Gran empeoramiento</td>  
                </tr>                  
              </table>
            </div> <!--/table-responsive-->
          
          </div><!--col-md-4-->
        </div>

         <h5>Calificación: Para resultados superiores a <strong>'57'</strong>, se puede considerar <strong>deterioro cognitivo probable</strong></h5>
         <hr>
        <div class="jumbotron">
          <div class="container">

           <form class="form-horizontal" role="form">

              <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Para recordar los nombres de personas más íntimas (parientes, amigos)</label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>Correcto</option>
                    <option>Error</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Recordar cosas que han sucedido recientemente, durante los dos o tres últimos meses (noticias, cosas suyas o de sus familiares)</label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Recordad de qué se habló en una conversación unos días antes </label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>

          <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Olvidar que ha dicho unos minutos antes, pararse en mitad de una frase y no saber que iba a decir, repetir lo dicho un rato antes</label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Recordar la fecha en que se vive</label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Conocer el lugar exacto de los armarios de su casa y dónde se guardan las cosas</label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Saber donde va una cosa que se ha encontrado descolocada</label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Aprender a utilizar un aparato nuevo (lavadora, tocadiscos, radio, etc.) </label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>                            

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Recordar las cosas que han sucedido recientemente</label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Aprender cosas nuevas (en general)</label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Comprender el significado de palabras poco usuales (del periodico, TV, conversación) </label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>                            

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Entender los artículos de periódicos y revistas en los que está interesado </label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>                            

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Seguir una historia en un libro, la prensa, el cine, la radio o la TV </label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>                            

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Tomar decisiones tanto en cuestiones cotidianas (qué ropa ponerse, qué comida preparar) como un asuntos de más trascendencia (donde invertir el dinero, o ir de vacaciones)  </label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>                            

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Control de los asunto financieros (cobrar la pensión, pagar los impuestos, trato con el banco)  </label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>                            

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller">Control de otros problemas de cálculo cotidiano (tiempo entre visitas de familiares, distancias entre lugares y cuánta comida comprar y preparar especialmente si hay invitados) </label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>                            

            <div class="form-group">
                <div class="col-md-10">
                  <label class="smaller" class="smaller">¿Cree que sus inteligencias (en general) ha cambiado duranto los últimos diez años?</label>
                </div>
                <div class="col-md-1 col-md-offset-1">  
                  <select class="form-control">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select> 
                </div>
              </div>                            
  
            <div class="form-group">
              <div class="col-md-offset-4 col-md-10">
                <a href="consultation.html"><button type="submit" class="btn btn-default">Resultado del Test</button></a>
              </div>
              </div>



            </form>
          </div>
      </div>


  

    <a href="consultation_syntomatic.html"><< Volver</a>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
