<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Test Minimental - Babel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Babel</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="welcome.html">Inicio</a></li>
              <li><a href="search.html">Búsqueda de pacientes</a></li>
              <li><a href="#">Registrar nuevo paciente</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Borrar pacientes</a></li>
                  <li><a href="#">Modificar mi perfil</a></li>
                  <li><a href="#"></a></li>
                  <li class="divider"></li>
                  <li><a href="#">Soporte técnico</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><button type="button" class="btn btn-default navbar-btn">Desconectarse</button></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>
          
   
      <div class="container">

          <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                      <ol class="breadcrumb">
                        <li><a href="welcome.html">Inicio</a></li>
                        <li><a href="search.html">Búsqueda de pacientes</a></li>
                        <li><a href="history.html">Juan Ofidio Ofidio</a></li>
                        <li><a href="consultation.html">Consulta</a></li>
                        <li><a href="consultation_syntomatic.html">Sintomatología Cognitiva</a></li>
                        <li>Test Minimental</li>
                      </ol>
                      <h1 class="featurette-heading">Test Minimental<span class="text-muted"></span></h1>

                </div>
                <div class="col-md-4">
                    <h2 class="text-muted">Juan Ofidio Ofidio</h2>
                    <h4>Número historia clínica: <span class="text-muted">456</span> <h4>
                    <h4 >Fecha consulta: <span class="text-muted"> 23/09/2013</span><h4>                                   
                </div>
            </div> 
          </div>
       
        <div class="jumbotron">
          <div class="container">

           <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-md-2 col-md-offset-4"><h2>Orientación</h2></div>
            </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label>Colocar el número 12 en la parte superior</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>Correcto</option>
                    <option>Error</option>
                  </select> 
                </div>
              </div>

          <div class="form-group">
                <div class="col-md-6">
                  <label>Dibujar las 2 agujas del Reloj</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>Correcto</option>
                    <option>Error</option>
                  </select> 
                </div>
              </div>

          <div class="form-group">
                <div class="col-md-6">
                  <label>Colocar los 12 números (horas)</label>
                </div>
                <div class="col-md-4 ">  
                  <select class="form-control">
                    <option></option>
                    <option>Correcto</option>
                    <option>Error</option>
                  </select> 
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-6">
                  <label>Poner la hora indicada</label>
                </div>
                <div class="col-md-4">  
                  <select class="form-control">
                    <option></option>
                    <option>Correcto</option>
                    <option>Error</option>
                  </select> 
                </div>
              </div>


                
            <div class="form-group">
              <div class="col-md-offset-4 col-md-10">
                <a href="consultation.html"><button type="submit" class="btn btn-default">Realizar Test del Reloj</button></a>
              </div>
              </div>



            </form>
          </div>
      </div>


  

    <a href="consultation_syntomatic.html"><< Volver</a>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
