<!--URL consultations/1/neurological_examination-->
<% breadcrumb :consultation_neurological_examination, @consultation %>
<% content_for :top_title do %>
    Exploraci贸n Neurol贸gica <span class="text-muted"><%= @consultation.id %></span>
<% end %>
<% content_for :title do %>
    Exploraci贸n Neurol贸gica
<% end %>
<%= render 'form' %>


