<%= form_for([@consultation, @prueba],
            remote: true,
            html: {class: 'form-horizontal', role: 'form'},
            builder: ApplicationHelper::MyFormBuilder
            ) do |f| %>

  <div class="form-group">
    <%= f.label :prueba,"Prueba" %>
    <%= f.select :prueba, Prueba::PRUEBAS %>
  </div>
  <div class="form-group">
      <div class="actions">
        <%= f.submit %>
      </div>
  </div>
<% end %>
