
<% content_for :title do %>
    Contactar
<% end %>

<% content_for :top_title do %>
    Contactar
<% end %>
<div class="container">
  <h3 class="text-center">Contáctenos en la siguiente dirección o teléfono  y le atenderemos rápidamente </h3>
  <hr>
  <a href="mailto: soporte@e-pione.com"><h3 class="text-center text-primary"> soporte@e-pione.com</h3></a>
  <h3 class="text-center  text-muted"> +34 679 19 26 84</h3>
</div>