<!--URL consultations/1/cognitive_symptomatology -->
<% breadcrumb :consultation_habitos, @consultation %>
<% content_for :top_title do %>
    Hábitos <span class="text-muted"><%= @consultation.id %></span>
<% end %>
<% content_for :title do %>
    Hábitos
<% end %>

<%= render 'form' %>

<%= render partial: 'shared/historico_habitos', locals: {habitos: @habitos} %>

