%p Hola,
%p Parece que ha solicitado un cambio de contraseña para su cuenta en E-pione. |
Acceda al siguiente link para establecer una nueva contraseña:  |

%p= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @token)

%p Si usted no ha solicitado un cambio de contraseña, por favor ignore esta petición.
%p Su contraseña no cambiará hasta que visite el enlace e introduzca una nueva contraseña.
%p Atentamente,
%p El equipo de soporte técnico de e-pione



