<% disabled = false unless defined? disabled %>
<%= form_for([@consultation,get_resource_ivar],
             builder: ApplicationHelper::MyFormBuilder,
             disabled: disabled,
             html: {class: 'form-horizontal'} ) do |f| %>


  <%= render partial: 'form_fields', locals: {f: f} %>

  <% if disabled %>
        <td><%= link_to 'Eliminar', [@consultation, get_resource_ivar], method: :delete, data: { confirm: 'Estás seguro que quiere elimnar este test?' } %></td>
  <% else %>
        <div class="form-group">
            <div class="actions">
              <%= f.submit %>
            </div>
        </div>

  <% end %>

<% end %>
