<% disabled = false unless defined? disabled %>
<%= form_for([@consultation,get_resource_ivar],
             builder: ApplicationHelper::MyFormBuilder,
             disabled: disabled,
             html: {class: 'form-horizontal'} ) do |f| %>


  <%= render partial: 'form_fields', locals: {f: f} %>

  <% if disabled %>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <%=  link_to 'Eliminar Test', [@consultation, get_resource_ivar], method: :delete,
                            data: { confirm: '¿Está seguro de que quiere eliminar este test?' },
                            class: 'btn btn-danger'
                            %>
            </div>
         </div>

  <% else %>
        <div class="form-group">
            <div class="actions">
              <%= f.submit %>
            </div>
        </div>

  <% end %>

<% end %>
